{
    "aws" : {
        "region": "",
        "accessKeyId": "",
        "secretAccessKey": ""
    },
    "cognito" : {
        "region": "us-east-1",
        "cognitoUserPoolId": "",
        "tokenUse": "id",
        "tokenExpiration": 3600000
    },
    "mailgun" : {
        "secretApiKey" : ""
    },
    "stripe" : {
        "secretApiKey" : ""
    }
}
